{
    "swagger": "2.0",
    "info": {
        "title": "LogicApps",
        "version": "2015-08-01-preview"
    },
    "host": "westus.logic.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "text/json"
    ],
    "produces": [
        "application/json",
        "text/json"
    ],
    "paths": {
        "/workflows/{workflowId}/triggers/{triggerName}/run": {
            "post": {
                "tags": [
                    "WorkflowTriggers"
                ],
                "operationId": "WorkflowTriggers_Run",
                "description": "Runs a workflow trigger.",
                "parameters": [
                    {
                        "name": "workflowId",
                        "description": "The workflow id.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "triggerName",
                        "description": "The workflow trigger name.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "description": "The API version.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sig",
                        "description": "The shared access signature.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/workflows/{workflowId}/triggers/{triggerName}/definitions/swagger2_0": {
            "get": {
                "tags": [
                    "WorkflowTriggers"
                ],
                "operationId": "WorkflowTriggers_Schema",
                "description": "Gets the swagger for a workflow trigger.",
                "parameters": [
                    {
                        "name": "workflowId",
                        "description": "The workflow id.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "triggerName",
                        "description": "The workflow trigger name.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "api-version",
                        "description": "The API version.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sig",
                        "description": "The shared access signature.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WorkflowSchema"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "schemaArray": {
            "type": "array",
            "minItems": 1,
            "items": { "$ref": "#" }
        },
        "positiveInteger": {
            "type": "integer",
            "minimum": 0
        },
        "positiveIntegerDefault0": {
            "allOf": [ { "$ref": "#/definitions/positiveInteger" }, { "default": 0 } ]
        },
        "simpleTypes": {
            "enum": [ "array", "boolean", "integer", "null", "number", "object", "string" ]
        },
        "stringArray": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "uniqueItems": true
        },
        "WorkflowSchema": {
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uri"
                },
                "$schema": {
                    "type": "string",
                    "format": "uri"
                },
                "title": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "default": { },
                "multipleOf": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true
                },
                "maximum": {
                    "type": "number"
                },
                "exclusiveMaximum": {
                    "type": "boolean",
                    "default": false
                },
                "minimum": {
                    "type": "number"
                },
                "exclusiveMinimum": {
                    "type": "boolean",
                    "default": false
                },
                "maxLength": {
                    "$ref": "#/definitions/positiveInteger"
                },
                "minLength": {
                    "$ref": "#/definitions/positiveIntegerDefault0"
                },
                "pattern": {
                    "type": "string",
                    "format": "regex"
                },
                "additionalItems": {
                    "anyOf": [
                        {
                            "type": "boolean"
                        },
                        {
                            "$ref": "#"
                        }
                    ],
                    "default": { }
                },
                "items": {
                    "anyOf": [
                        {
                            "$ref": "#"
                        },
                        {
                            "$ref": "#/definitions/schemaArray"
                        }
                    ],
                    "default": { }
                },
                "maxItems": {
                    "$ref": "#/definitions/positiveInteger"
                },
                "minItems": {
                    "$ref": "#/definitions/positiveIntegerDefault0"
                },
                "uniqueItems": {
                    "type": "boolean",
                    "default": false
                },
                "maxProperties": {
                    "$ref": "#/definitions/positiveInteger"
                },
                "minProperties": {
                    "$ref": "#/definitions/positiveIntegerDefault0"
                },
                "required": {
                    "$ref": "#/definitions/stringArray"
                },
                "additionalProperties": {
                    "anyOf": [
                        {
                            "type": "boolean"
                        },
                        {
                            "$ref": "#"
                        }
                    ],
                    "default": { }
                },
                "definitions": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#"
                    },
                    "default": { }
                },
                "properties": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#"
                    },
                    "default": { }
                },
                "patternProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#"
                    },
                    "default": { }
                },
                "dependencies": {
                    "type": "object",
                    "additionalProperties": {
                        "anyOf": [
                            {
                                "$ref": "#"
                            },
                            {
                                "$ref": "#/definitions/stringArray"
                            }
                        ]
                    }
                },
                "enum": {
                    "type": "array",
                    "minItems": 1,
                    "uniqueItems": true
                },
                "type": {
                    "anyOf": [
                        {
                            "$ref": "#/definitions/simpleTypes"
                        },
                        {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/simpleTypes"
                            },
                            "minItems": 1,
                            "uniqueItems": true
                        }
                    ]
                },
                "allOf": {
                    "$ref": "#/definitions/schemaArray"
                },
                "anyOf": {
                    "$ref": "#/definitions/schemaArray"
                },
                "oneOf": {
                    "$ref": "#/definitions/schemaArray"
                },
                "not": {
                    "$ref": "#"
                }
            }
        }
    }
}
